<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{loggedInUser}}</mat-card-title> 
    <div class="signout">
      <button  mat-raised-button (click)="signOut()" color="primary" >LogOut</button>
    </div> 
  </mat-card-header>
  <img mat-card-image src="../../assets/home.gif" alt="Photo of a Shiba Inu">
</mat-card>
                                                                                                                         